@media screen and (min-width: 1200px) {
	.blogpost {
		.container {
			margin-top: 50px;
			margin-bottom: 50px;
			.row {
				.col-12 {}
			}
		}
	}
} // .min-width: 1200

@media screen and (min-width: 992px) and (max-width: 1199px){
	.blogpost {
		.container {
			margin-top: 50px;
			margin-bottom: 50px;
			.row {
				.col-12 {}
			}
		}
	}
} // 992 - 1199

@media screen and (min-width: 768px) and (max-width: 991px){
	.blogpost {
		.container {
			margin-top: 50px;
			margin-bottom: 50px;
			.row {
				.col-12 {}
			}
		}
	}
} // 768 - 991

@media screen and (min-width: 576px) and (max-width: 767px){
	.blogpost {
		.container {
			margin-top: 50px;
			margin-bottom: 50px;
			.row {
				.col-12 {}
			}
		}
	}
} // 576 - 767

@media screen and (max-width: 575px){
	.blogpost {
		.container {
			margin-top: 50px;
			margin-bottom: 50px;
			.row {
				.col-12 {}
			}
		}
	}
} // max 575