.page-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
	border-bottom: 1px solid #d7d7d7;
}

.page-title h5 {
	font-size: 18px;
	text-transform: uppercase;
	text-indent: 15px;
	position: relative;
}

.page-title h5:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	height: 100%;
	background: #15b095;
}

.page-title h5 i {
	margin-right: 5px;
	color: #fd6565;
}

.page-title a {
	font-size: 12px;
	color: #151515;
	border: 1px solid #151515;
	background: transparent;
	padding: 5px 8px;
	letter-spacing: .05rem;
	transition: .3s all;
}

.page-title a:hover {
	background: #151515;
	color: #fff;
}